<%- include("../common/header") %>
    <%- include("../common/menu")%>
        <main class="md-4 h-100">
            <div class="p-5 mb-4" style="background-color: #adb5bd;">
                <div class="container" style="margin-top: 5%;">
                    <h1>
                        <%= post.titulo%>
                    </h1>
                </div>
            </div>

            <div class="container">
                <div class="row d-flex juntufy-content-center">
                    <div class="col-12 col-sm-10 col-md-8">
                        <p><small>
                                <%= post.data_criacao.toLocaleString("pt-br").split(" ").join(" às ")%>
                        </small></p>
                        <hr>
                        <p><%= post.conteudo%></p>
                    </div>
                </div>
            </div>
        </main>
        <%- include('../common/footer.ejs')%>